@import "../../../app/styles/colors";

.mainContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  background: hsl(0, 0, 100);
  border-radius: 36px;
  box-shadow: 0 3px 25px hsla(0, 0, 0, 0.2);
  overflow: hidden;
  display: flex;
  border: 8px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to right, #743AB6, #d53a9d);


  .signup-connect,
  .signup-classic
  {
    width: 50%;
    padding: 30px 50px;
  }

  .signup-connect {
    background: #FFF; //linear-gradient(134deg, hsl(44, 96%, 65%), hsl(34, 95%, 45%));
    color: hsl(0, 0, 100);

    h1 {
      font-size: 30px;
      margin-top: 10px;
      margin-bottom: 40px;
      text-shadow: 0 2px 3px hsla(0, 0, 0, 0.1);
    }

  }

  .signup-classic {

    h2 {
      font-size: 16px;
      font-weight: normal;
      margin-top: 23px;
      margin-bottom: 43px;
      text-shadow: 0 2px 3px hsla(0, 0, 0, 0.1);
    }

    fieldset::after {
      content: '\f007';
      font-family: FontAwesome;
      position: absolute;
      right: 15px;
      top: 17px;
      z-index: 2;
      width: 20px;
      color: hsla(0, 0, 0, .2);
      text-align: center;
    }

    fieldset.email::after {
      content: '\f0e0';
    }

    fieldset.password::after {
      content: '\f023';
    }

  }
}
@media(min-width:856px) {
  .mainContent {
    width: 70%;
    .role-type {
      margin-right: 5%;
      margin-left: 5%;
      text-align: center;
    }
  }
}
@media(max-width:856px) {
  .mainContent {
      width: 90%;

    .role-type {
      display: block;
      text-align: center;
    }
    .signup-classic{
      width: 100%;
    }

    .signup-connect{
      display: none;
    }
  }
}

@media(max-width:452px) {
  .mainContent {
    width: 90%;

    .role-type {
      display: block;
      text-align: center;
    }
    .signup-classic{
      width: 100%;
    }
    .signup-connect{
        display: none;
      }

      p {
        font-size: 10px;
      }
    }
  }

