.sidebar-header {
  position: relative;

  background-color: #ffffff;
  border-right: 1px solid #E2E8D2;

  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 10px;

  .logo {
    height: 46px;
    width: 140px;
    cursor: pointer;
  }
}